[submodule "util"]
	path = util
	url = https://github.com/Regal-Internet-Brothers/util.git
[submodule "byteorder"]
	path = byteorder
	url = https://github.com/Regal-Internet-Brothers/byteorder.git
[submodule "imagedemensions"]
	path = imagedemensions
	url = https://github.com/Regal-Internet-Brothers/imagedemensions.git
[submodule "vector"]
	path = vector
	url = https://github.com/Regal-Internet-Brothers/vector.git
[submodule "time"]
	path = time
	url = https://github.com/Regal-Internet-Brothers/time.git
[submodule "eternity"]
	path = eternity
	url = https://github.com/Regal-Internet-Brothers/eternity.git
[submodule "deltatime"]
	path = deltatime
	url = https://github.com/Regal-Internet-Brothers/deltatime.git
[submodule "stringutil"]
	path = stringutil
	url = https://github.com/Regal-Internet-Brothers/stringutil.git
[submodule "sizeof"]
	path = sizeof
	url = https://github.com/Regal-Internet-Brothers/sizeof.git
[submodule "screen"]
	path = screen
	url = https://github.com/Regal-Internet-Brothers/screen.git
[submodule "retrostrings"]
	path = retrostrings
	url = https://github.com/Regal-Internet-Brothers/retrostrings.git
[submodule "regalnet"]
	path = regalnet
	url = https://ImmutableOctet@bitbucket.org/ImmutableOctet/regalnet.git
