[submodule "util"]
	path = util
	url = https://github.com/Regal-Internet-Brothers/util.git
[submodule "byteorder"]
	path = byteorder
	url = https://github.com/Regal-Internet-Brothers/byteorder.git
[submodule "imagedemensions"]
	path = imagedemensions
	url = https://github.com/Regal-Internet-Brothers/imagedemensions.git
[submodule "vector"]
	path = vector
	url = https://github.com/Regal-Internet-Brothers/vector.git
[submodule "time"]
	path = time
	url = https://github.com/Regal-Internet-Brothers/time.git
[submodule "eternity"]
	path = eternity
	url = https://github.com/Regal-Internet-Brothers/eternity.git
[submodule "deltatime"]
	path = deltatime
	url = https://github.com/Regal-Internet-Brothers/deltatime.git
[submodule "stringutil"]
	path = stringutil
	url = https://github.com/Regal-Internet-Brothers/stringutil.git
[submodule "sizeof"]
	path = sizeof
	url = https://github.com/Regal-Internet-Brothers/sizeof.git
[submodule "screen"]
	path = screen
	url = https://github.com/Regal-Internet-Brothers/screen.git
[submodule "retrostrings"]
	path = retrostrings
	url = https://github.com/Regal-Internet-Brothers/retrostrings.git
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/Regal-Internet-Brothers/preprocessor.git
[submodule "mojoemulator"]
	path = mojoemulator
	url = https://github.com/Regal-Internet-Brothers/mojoemulator.git
[submodule "ioelement"]
	path = ioelement
	url = https://github.com/Regal-Internet-Brothers/ioelement.git
[submodule "autostream"]
	path = autostream
	url = https://github.com/Regal-Internet-Brothers/autostream.git
[submodule "imagedimensions"]
	path = imagedimensions
	url = https://github.com/Regal-Internet-Brothers/imagedimensions.git
[submodule "hash"]
	path = hash
	url = https://github.com/Regal-Internet-Brothers/hash
[submodule "autofit"]
	path = autofit
	url = https://github.com/Regal-Internet-Brothers/autofit.git
[submodule "boxutil"]
	path = boxutil
	url = https://github.com/Regal-Internet-Brothers/boxutil.git
[submodule "typetool"]
	path = typetool
	url = https://github.com/Regal-Internet-Brothers/typetool.git
[submodule "inputmanager"]
	path = inputmanager
	url = https://github.com/Regal-Internet-Brothers/inputmanager.git
[submodule "argumentloader"]
	path = argumentloader
	url = https://github.com/Regal-Internet-Brothers/argumentloader.git
[submodule "imageencoder"]
	path = imageencoder
	url = https://github.com/Regal-Internet-Brothers/imageencoder.git
[submodule "matrix2d"]
	path = matrix2d
	url = https://github.com/Regal-Internet-Brothers/matrix2d.git
[submodule "polygon"]
	path = polygon
	url = https://github.com/Regal-Internet-Brothers/polygon.git
[submodule "resources"]
	path = resources
	url = https://github.com/Regal-Internet-Brothers/resources.git
[submodule "ioutil"]
	path = ioutil
	url = https://github.com/Regal-Internet-Brothers/ioutil
[submodule "networking"]
	path = networking
	url = https://github.com/Regal-Internet-Brothers/networking
[submodule "transport"]
	path = transport
	url = https://github.com/Regal-Internet-Brothers/transport.git
